<%= turbo_frame_tag "comment_#{@comment.id}" do %>
  <div class="p-3 border rounded-lg bg-white shadow">

    <%= form_with model: [@pin, @comment],
                  format: :turbo_stream,
                  data: { turbo: true } do |f| %>

      <div class="mb-3">
        <%= f.text_area :content,
            rows: 3,
            class: "w-full border p-2 rounded" %>
      </div>

      <div class="flex space-x-2">
        <%= f.submit "Update Comment",
            class: "px-4 py-2 bg-blue-600 text-white rounded" %>

        <%= link_to "Cancel",
            "#",
            data: { turbo_frame: "comment_#{@comment.id}" },
            class: "px-4 py-2 bg-gray-300 rounded" %>
      </div>

    <% end %>
  </div>
<% end %>
